.product-category-section {
  display: inline-block;
  padding: 8px 20px 8px 12px;
  color: white;
  background-color: #ffb805;
  border-radius: 0 30px 0 0;
  text-transform: uppercase;
}

#navbarCollapse {
  padding-top: 40px;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: -100vh;
  width: 100vw;
  height: 100vh !important;
  background-color: white;
  transition: all 0.15s;
}

#navbarCollapse.show {
  transform: translateX(100vh);
  overflow: hidden
}

.close-menu-btn {
  font-weight: bold;
  padding: 10px 14px;
}

.price-text {
  color: #991b25
}

.vendor-container {
  max-width: 1200px;
}

.zalo-icon {
  position: fixed;
  right: 14px;
  bottom: 180px;
  z-index: 998;
}

.zalo-icon img {
  width: 60px;
  animation: tilt-shaking 0.5s infinite;
}

.zalo-icon::before,
.zalo-icon::after {
  top: 0;
  left: 0;
  border-radius: 50%;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.zalo-icon::before,
.zalo-icon::after {
  animation: ripple 2s infinite;
}

.zalo-icon::before {
  animation-delay: 0.9s;
}

.zalo-icon::after {
  animation-delay: 0.5s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(243, 18, 18, 0.6);
  }

  50% {
    box-shadow: 0 0 0 25px rgba(243, 18, 18, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(243, 18, 18, 0);
  }
}

.hotline-container {
  min-width: 390px;
  margin-top: 5px;
}

.text-phone-number, .text-phone-number:hover {
  color: black;
  background-color: yellow;
}

.phone-icon {
  margin-right: 5px;
  color: #cd0000;
}
